# Power Method Assignment

Anggota yang mengerjakan :

Muhammad Aulia Ash Shidiq (17523058)

Nunu Vadila (17523061)

In [40]:
library(matlib)

In [61]:
#Nomor 1
A <- matrix(c(4,2,-5,-3), 2,2,FALSE)
A

b <- c(1,0)
b

C <- A%*%b
C

powerMethod(A,v = b,maxiter = 5,FALSE)

     [,1] [,2]
[1,] 4    -5
[2,] 2    -3

[1] 1 0

     [,1]
[1,] 4
[2,] 2

$vector_iterations
     v1        v2        v3        v4        v5
[1,]  1 0.8944272 0.9486833 0.9191450 0.9333456
[2,]  0 0.4472136 0.3162278 0.3939193 0.3589791

$iter
[1] 5

$vector
          [,1]
[1,] 0.9333456
[2,] 0.3589791

$value
[1] 2.092784

In [63]:
#Nomor 2
B <- matrix(c(0,11,-5
             ,-2,17,-7
             ,-4,26,-10),3,3,TRUE)
B
e <- c(1,1,1)
e

D <- B%*%e
D

powerMethod(B,v = e,maxiter = 5,FALSE)

     [,1] [,2] [,3]
[1,]  0   11    -5
[2,] -2   17    -7
[3,] -4   26   -10

[1] 1 1 1

     [,1]
[1,]  6
[2,]  8
[3,] 12

$vector_iterations
     v1        v2        v3        v4        v5
[1,]  1 0.3841106 0.3478328 0.3349917 0.3294704
[2,]  1 0.5121475 0.4969040 0.4913212 0.4888916
[3,]  1 0.7682213 0.7950464 0.8039801 0.8077340

$iter
[1] 5

$vector
          [,1]
[1,] 0.3294704
[2,] 0.4888916
[3,] 0.8077340

$value
[1] 4.096464